/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #555;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */

.wrapper {
  background-color: #f4f5f6;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 0;
}

.section h2 {
  text-transform: uppercase;
  color: #03030366;
  font-weight: 800;
  padding-bottom: 1rem;
}

.section .featured-stories {
  padding: 0.5rem;
}

.section .image {
  position: relative;
}

.section .category {
  display: block;
  color: #f72210;
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section .category .cag,
.section .category .cag:hover {
  color: #f72210;
}

.section .feature-title {
  font-size: 1.4rem;
  padding: 0.6rem 0;
}

.section .title {
  color: #000;
  font-weight: 800;
}

.section .title:hover {
  text-decoration-color: #f72210;
}

.section .feature-summary {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 0.95rem;
  line-height: 1.2rem;
}

.section .feature-list {
  font-size: 1.1rem;
  font-weight: 800;
  padding: 0.7rem 0;
  margin: 0.7rem 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.section .list-link {
  color: #000;
}

.section .list-link:hover {
  color: #f72210;
  text-decoration: none;
}

/* Navigation */

.navigation {
  flex-direction: column;
  color: #fff;
}

.navigation .header-top {
  background-color: #f72210;
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 0.6rem 1.5rem;
}

.navbar {
  padding: 0;
}

.header-top > * {
  flex-basis: 33.3%;
}

.header-top .header-links {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.header-links a {
  display: inline-block;
  padding: 0.2rem 0.3rem;
}

.header-links a:hover {
  text-decoration: none;
}

.header-links .sign-in {
  color: #fff;
}

.header-links .subscribe span {
  background-color: #fff;
  border: none;
  color: #f72210;
  padding: 0.1rem 0.8rem;
}

.header-bottom {
  background-color: #fff;
  border-bottom-color: #f4f5f6;
  padding-right: 5rem;
}

.header-bottom::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 5.5rem;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.navbar-collapse,
.header-bottom {
  width: 100%;
  position: relative;
  display: block;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.navbar-nav .nav-item {
  flex: 1;
  flex-basis: auto;
  text-align: center;
}

.navbar-nav .nav-link {
  border-right: 1px solid #d9d9d9;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f72210;
}

.header-bottom .nav-item span {
  color: #333;
}

.nav-item .search i {
  margin-left: 0.5rem;
}

/* Main Content */

/* Featured Stories Section */
.main-container {
  background-color: #fff;
  padding: 1.5rem;
}

.feature-content {
  margin-bottom: 1.5rem;
}
